*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: #fff;
  color: rgb(15, 15, 15);
  transition: background-color 0.8s, color 0.8s;
}

.darkMode-css{
  background-color: rgb(15, 15, 15);
  color: #fff;
  transition: background-color 0.8s, color 0.8s;
}

header{
  text-align: center;
  margin-bottom: 20px;
}

.content{
  border-style: solid;
  border-radius: 5px;
  max-width: 45%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content img{
  margin-top: 12px;
  max-width: 100%;
}

.darkMode-btn-div{
  margin: auto;
  max-width: fit-content;
}

.darkMode-btn-div button{
  border: none;
  font-size: x-large;
  cursor: pointer;
  background: none;
}

.sticky-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;;
}