* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.formContainer {
  border-style: solid;
  max-width: fit-content;
  margin: auto;
  padding: 26px;
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 18px;
}
