* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222222;
  color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.main-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.main-container p {
  margin-bottom: 14px;
}

.link {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.link a {
  text-decoration: underline;
  color: #ff0000;
}

.link a:hover {
  color: #ff2828;
}

.btn-container {
  margin-top: 10vh;
  margin-left: 20vh;
}

.subs-btn {
  margin-right: 22px;
  font-weight: bold;
  border-style: none;
  border-radius: 50px;
  color: #fff;
  background-color: #ff0000;
  height: 34px;
  width: 96px;
  cursor: pointer;
}

.join-btn {
  margin-right: 22px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 50px;
  color: #fff;
  background-color: #222222;
  height: 34px;
  width: 76px;
  cursor: pointer;
}

.tweet-btn {
  font-weight: bold;
  border-style: none;
  border-radius: 50px;
  color: #fff;
  background-color: #1da1fa;
  height: 34px;
  width: 80px;
  cursor: pointer;
}
